<% if user_signed_in? %>
<% if @user.name.length == 0 %>
<h1>Welcome!</h1>
<h4>Click Edit Profile to add your name.</h4>
<% else %>
<h1>Welcome <%= @user.name %>!</h1>
<% end %>
<% else %>

<div class="jumbotron">
  <h1>Welcome to Pinteresting!</h1>

  <p>
    Share your pintersting stuff to everyone!
  </p>

  <p>
    <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </p>
  <% end %>
</div>
