<div class="jumbotron">
  <h1>Welcome to Pinteresting!</h1>

  <p>
    Share your pintersting stuff to everyone!
  </p>

  <p>
    <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
  </p>
</div>
